# Default ignored files
/out/
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ahn\OneDrive\바탕 화면\Spring boot\JavaOperationPrinciple\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
